* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D1C1B2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    padding: 40px;
}

header {
    background-color: #723C16; 
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    margin-bottom: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

li {
    margin-right: 5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: beige;
    font-size: 1.5rem;
}

a:hover {
    border-bottom: 2px solid #D1C1B2;
}

h1 {
    font-size: 3rem;
    color: #723C16;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    position: relative;
}

.one {
    
    grid-row: 1/3;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.two {
    grid-column: 2/3;
    grid-row: 1/7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px solid #723C16;
    border-radius: 10px;
}

.three {
    grid-row: 3/5;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.four {
    grid-row: 5/7;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container p {
   margin-top: 10%;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #723C16;
    width: 100vw;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    text-align: right;
}